html {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

header {
	border-top: 10px solid black;
	font-size: 1.5em;
	overflow: hidden;
	background-color: #ccc;
}

header > * {
	padding: .5em;
}

header .button, header.button:visited {
	display: inline-block;
	background-color: black;
	color: white;
	text-decoration: none;
}
	header .button:hover, header .button:active {
		background-color: transparent;
		color: black;
	}

header .title {
	float: right;
}

section.meta {
	padding: 2em;
	padding-bottom: 0;
}

dl {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
	dl dt {
		font-weight: bold;
		float: left;
		margin: 0;
		padding: 0;
		clear: left;
	}
		dl dt:after {
			content: ':';
		}

	dl dd {
		float: left;
		margin: 0 0 0 .5em;
		padding: 0;
	}
		dl dd.newline {
			clear: left;
			padding-left: 2em;
		}

#content {
	padding: 2em;
}

footer {
	font-size: .7em;
	text-align: center;
}


/*********************** PAGE-SPECIFIC ***********************/


/* URI: /godaddy-codes-details.html */
.code-details input {
	font-family: monospace;
	font-weight: bold;
	font-size: 1.2em;
	color: #3377ff;
	border: 0 none;
	outline: 0 none;
	width: auto;
	background: none transparent;
}
.code-details li {
	margin-bottom: .6em;
}


/* URI: /godaddy-codes-dead.html */
.dead-codes code {
	font-weight: bold;
}