---
layout: page
title: GoDaddy Promo Code Details
---

<style type="text/css">
	.code {
		font-family: monospace;
		font-weight: bold;
		color: #3377ff;
		border: 0 none;
		outline: 0 none;
		width: auto;
		background: none transparent;
	}
</style>
<ul>
	{% for code in site.data.godaddy %}
		<li style="margin-bottom: .6em">
			<input class="code" type="text" onmouseover="this.focus();this.select();" onclick="this.select();" value="{{ code.code | xml_escape }}" readonly>
			<dl>
				<dt>Description</dt>
				<dd>{{ code.description }}</dd>
				<dt>Expires</dt>
				<dd>{{ code.expires }}</dd>
				{% if code.details %}
					<dt>Details</dt>
					{% for detail in code.details %}
						<dd class="newline">{{ detail }}</dd>
					{% endfor %}
				{% endif %}
			</dl>
		</li>
	{% endfor %}
</ul>