{% assign code = include.code %}
{% if site.time < code.expires and site.time >= code.starts and code.usable != false and code.active != false %}
	{% assign classes = '' %}
	{% assign desc = code.description | downcase %}
	{% if code.affiliate or code.newshopper or desc contains 'new products' %}
		{% assign classes = 'new-only' %}
	{% elsif desc contains 'renewal' %}
		{% assign classes = 'renewal' %}
	{% elsif desc contains 'new ' %}
	{% elsif desc contains 'registration' %}
		{% assign dottld = desc | split: ' ' | last %}
		{% assign tld = dottld | remove_first: '.' %}
		{% assign testtld = tld | prepend: '.' %}
		{% if dottld == testtld %}
			{% case tld %}
				{% when 'com' %}
					{% comment %}Nothing, for now{% endcomment %}

				{% else %}
					{% assign classes = 'non-com' %}
			{% endcase %}
		{% endif %}
	{% elsif desc contains '%' %}
		{% assign classes = 'renewal' %}
	{% endif %}
	<tr class="{{ classes }}">
		{% for column in site.data.config.godaddy.columns %}
			{% assign column_id = column[0] %}
			{% assign column_info = column[1] %}
			{% assign value = code[column_id] %}
			{% if code.or and not value %}
				{% for c in code.or %}
					{% if not value and code[c] %}
						{% assign value = code[c] %}
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if code.not and value %}
				{% for c in code.not %}
					{% if value and code[c] %}
						{% assign value = not code[c] %}
					{% endif %}
				{% endfor %}
			{% endif %}
			{% case column_info.type %}
				{% when 'text' %}
					{% if code[column_id] %}
						<td>{{ code[column_id] | xml_escape }}</td>
					{% else %}
						<td title="{{ column_info.type | xml_escape}}: Missing {{ column_id | xml_escape }}">!!ERROR!!</td>
					{% endif %}

				{% when 'enum' %}
					{% if code[column_id] %}
						<td class="enum">{{ code[column_id] | xml_escape }}</td>
					{% else %}
						<td class="enum" title="{{ column_info.type | xml_escape}}: Missing {{ column_id | xml_escape }}">!!ERROR!!</td>
					{% endif %}

				{% when 'index' %}
					<td class="index">{{ include.index }}</td>

				{% when 'details-link' %}
					{% if code[column_id] %}
						<td>
							<a href="{{ site.baseurl }}/godaddy-codes/details.html#code-{{ code.code | uri_escape }}">
								<code>{{ code[column_id] | xml_escape }}</code>
							</a>
						</td>
					{% else %}
						<td title="{{ column_info.type | xml_escape}}: Missing {{ column_id | xml_escape }}">!!ERROR!!</td>
					{% endif %}

				{% when 'timestamp' %}
					{% if code[column_id] %}
						<td><time datetime="{{ code[column_id] | date: '%FT%R%Z' | xml_escape }}">{{ code[column_id] | date: site.data.config.date_format }}</time></td>
					{% else %}
						<td title="{{ column_info.type | xml_escape}}: Missing {{ column_id | xml_escape }}">!!ERROR!!</td>
					{% endif %}

				{% when 'boolean-good' %}
					{% if column_info.reverse %}
						{% if code[column_id] %}
							<td class="bool bad">No</td>
						{% else %}
							<td class="bool good">Yes</td>
						{% endif %}
					{% else %}
						{% if code[column_id] %}
							<td class="bool good">Yes</td>
						{% else %}
							<td class="bool bad">No</td>
						{% endif %}
					{% endif %}

				{% when 'boolean-bad' %}
					{% if column_info.reverse %}
						{% if code[column_id] %}
							<td class="bool good">No</td>
						{% else %}
							<td class="bool bad">Yes</td>
						{% endif %}
					{% else %}
						{% if code[column_id] %}
							<td class="bool bad">Yes</td>
						{% else %}
							<td class="bool good">No</td>
						{% endif %}
					{% endif %}

				{% when 'contains-good' %}
					{% if column_info.searchfield and column_info.value %}
						{% if code[column_info.searchfield] %}
							{% if code[column_info.searchfield] contains column_info.value %}
								{% if column_info.reverse %}<td class="bool bad">No</td>{% else %}<td class="bool good">Yes</td>{% endif %}
							{% else %}
								{% if column_info.reverse %}<td class="bool good">Yes</td>{% else %}<td class="bool bad">No</td>{% endif %}
							{% endif %}
						{% else %}
							<td class="bool unknown">{% if column_info.unknown %}{{ column_info.unknown }}{% else %}N/A{% endif %}</td>
						{% endif %}
					{% else %}
						<td class="bool unknown" title="{{ column_info.type | xml_escape}}: Missing searchfield or value">!!ERROR!!</td>
					{% endif %}

				{% when 'contains-bad' %}
					{% if column_info.searchfield and column_info.value %}
						{% if code[column_info.searchfield] %}
							{% if code[column_info.searchfield] contains column_info.value or column_info.reverse %}
								{% if column_info.reverse %}<td class="bool good">No</td>{% else %}<td class="bool bad">Yes</td>{% endif %}
							{% else %}
								{% if column_info.reverse %}<td class="bool bad">Yes</td>{% else %}<td class="bool good">No</td>{% endif %}
							{% endif %}
						{% else %}
							<td class="bool unknown">{% if column_info.unknown %}{{ column_info.unknown }}{% else %}N/A{% endif %}</td>
						{% endif %}
					{% else %}
						<td class="bool unknown" title="{{ column_info.type | xml_escape}}: Missing searchfield or value">!!ERROR!!</td>
					{% endif %}

				{% when 'or-affiliate' %}
					<td class="enum">
						{% if code.affiliate %}
							Affiliate
						{% elsif code[column_id] %}
							{{ code[column_id] | xml_escape }}
						{% else %}
							<td class="enum" title="{{ column_info.type | xml_escape}}: Missing {{ column_id | xml_escape }}">!!ERROR!!</td>
						{% endif %}
					</td>

				{% else %}
					<td title="{{ column_info.type | xml_escape}}: Unknown type">!!ERROR!!</td>
			{% endcase %}
		{% endfor %}
	</tr>
{% endif %}
